@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin: 20px;
    font-family: 'Manrope', sans-serif;
    background-color:#92A8D1;
    text-align: center;
}

h1{
    text-align: center;
    color: #031941;
    margin: 20px;
}

.instruction{
    padding-bottom:20px;
}

h3{
    text-align: center;
    margin-bottom:20px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.iteration{
    width: 50%;
    text-align: left;
}

.iteration-one{
    margin: 10px;
    padding: 10px;
}

input{
    height: 40px;
    padding: 14px;
    border:none;
    outline: none;
}


.iteration-two{
    margin: 10px;
    padding: 10px;
}

button{
    width: 40%;
    height: 60px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background:#031941;
    color: #fff;
}

.iteration-three{
    margin: 10px;
    padding: 10px;
}

.iteration-four{
    margin: 10px;
    padding: 10px;
}

table, th, td {
    border: 1px solid;
    height: 50px;
    padding: 10px;
    color: #fff;
  }

  @media screen and (max-width: 480px) {    
button{
    width: 40%;
    height: 60px;
    font-size: 12px;
}
  }